body {
    /*color: #7a2f23;*/
}

h1 {
    text-align: center;
    font-family: serif;
    font-weight: lighter;
    color: white;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    text-align: center;
    font-weight: lighter;
    font-size: 20px;
    font-style: italic;
    color: black;
}

.container {
    display: flex;
    margin: 20px auto 0 auto;
}

#result {
    font-size: 36px;
    color: black;
    font-weight: bold;
    min-height: 130px;
    margin: auto;
}

.dinnerBtn {
    background-color: #996600;
}
.dinnerBtn:hover {
    background-color: #cc9900;
    color: white;
}

.dessertBtn {
    background-color: #ff66b3;
    color: white;
}
.dessertBtn:hover {
    background-color: #ffb3d9;
    color: black;
}

.breakfastBtn {
    background-color: #ffcc00;
}
.breakfastBtn:hover {
    background-color: #b38f00;
    color: white;
}

.snackBtn {
    background-color: #bfff00;
}
.snackBtn:hover {
    background-color: #86b300;
    color: white;
}

button {
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 14pt;
}

body {
    background-color: gray;
    font-family: sans-serif;
}

button, a {
    border-radius: 5px;
    padding: 5px 10px;
    text-decoration: none;
    color: black;
    cursor: pointer;
    text-align: center;
    display: block;
    margin: 10px auto;
    font-size: 14pt;
    width: 60%;
}

.credit {
    position: fixed;
    bottom: 20px;
    font-size: 15px;
    color: #505050;
}

.smaller {
    font-size: 24px;
}

.mobile {
    display: none;
    padding: 5px;
    width: 125px
}

.mobile-box {
    background: none;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

/* Mobile */
@media only screen and (max-width: 700px) {
    .title1 {
        font-size: 45px;
        margin: 0;
    }
    .title2 {
        font-size: 18px;
        margin-top: 7px;
    }
    .browser {
        display: none;
    }
    .mobile {
        display: block;
        width: 100px
    }
    p {
        text-align: center !important;
    }
    .result {
        margin-bottom: 15px;
    }
}
